@using Microsoft.AspNet.Identity
@using SimpleNetwork.Models
@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{

}
else
{
    <div class="jumbotron">
        <h1>Task4 Popov Ivan</h1>
    </div>
}
